<!DOCTYPE html>

<Html>

<Head>
    <style>
        header {
            background-color: rgb(222, 195, 143);
            position: fixed;
            left: 0;
            right: 0;
            top: 10px;
            height: 45px;
            display: flex;
            align-items: center;
        }

        header * {
            display: inline;
        }

        header li {
            margin: 20px;
        }
    </style>
</Head>

<Body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="#"> Home </a>
                </li>
                <li>
                    <a href="#"> Articles </a>
                </li>
                <li>
                    <a href="#"> About us </a>
                </li>
                <li> <a href="#"> Subscribe </a>
                </li>
            </ul>
        </nav>
    </header>
</Body>

</html>