body {
    text-align: center;
}

img {
    width: 600px;
    margin-top: 20px;
}

.article-title {
    font-size: 45px;
    font-weight: 200;
    margin-top: 35px;
    margin-right: 25%;
    margin-left: 25%;
    text-align: left;
}

.article-author {
    text-align: left;
    margin-right: 25%;
    margin-left: 25%;
    margin-top: 10px;
    border-bottom: #4f4f4f 1px solid;
}

.article-text {
    margin: 20px 25% 0;
    font-size: 20px;
    text-align: justify;
}