.menu {
    background-color: #b9a798;
    position: fixed;
    left: 0;
    right: 0;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

.title {
    font-size: 35px;
    padding: 5% 5%;
}

.nav-bar {
    padding: 0 5%;
    display: flex;
    gap: 2em;
    font-size: 20px;
}

.articles{
    position: relative;
    display: inline-block;
}

.dropdown {
    background-color: #b9a798;
    position: absolute;
    display: none;
    top: 35px;
    z-index: 1;
}

.dropdown a {
    padding: 0.5em 1em;
    width: 5em;
    display: block;
}

.articles:hover .dropdown {
    display: block;
}

.nav-bar a:hover {
    display: flex;
    background-color: #a2856d;
}

/* body of page */

body {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.body-outer {
    background: #d1c2b6;
    width: 100%;
    padding: 80px 0;
    display: inline-block;
    /* margin-top: 220px; remove when header is added */
}

.body-inner {
    background: white;
    border-style: solid;
    border-color: #4f4f4f;
    border-width: 2px;
    border-bottom: 0;
    width: 90%;
    max-width: 1275px;
    margin: auto;
    display: flex;
}

.column {
    float: left;
}

.column-left {
    width: 63%;
}

.column-right {
    width: 37%;
    border-bottom: #4f4f4f 2px solid;
}

.article {
    padding: 25px 20px;
    border: #4f4f4f 2px solid;
    border-left: 0;
    border-top: 0;
    text-align: justify;
    overflow: auto;
}

.article-left {
    text-align: left;
}

.article-right {
    border-right: 0;
    border-bottom: 0;
    position: relative;
    z-index: 0;
}

.article-right::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    width: 92%;
    left: 4%;
    right: 4%;
    border-bottom: 2px solid #4f4f4f;
}

.opinion-header {
    padding-left: 20px;
    padding-top: 10px;
    margin-bottom: -10px;
    font-weight: bold;
    text-decoration: underline;
}

.article-header {
    font-size: 25px;
    font-weight: bold;
    text-align: left;
}

.article-text {
    margin-top: 15px;
}

img.right {
    float: right;
    margin-left: 20px;
}

img.left {
    float: left;
    margin-right: 20px;
}

.article-img {
    height: auto;
    width: 330px;
}
